<div class="form-popup" id="penis">
  <form method="POST" class="form-container" id="form-edit" action="">
    <label for="nameQu"><b>Задача</b></label>
    <input type="text" placeholder="Текущая задача" name="nameQu" id="nameQu" />
    <label for="comments"><b>Коментарий</b></label>
    <input type="text" placeholder="Коментарий" id="comments" name="comments" />
    <label for="exp"><b>Опытs</b></label>
    <input type="text" value="" placeholder="Опыт" id="exp" name="exp" />
    <button type="submit" class="btn" value="POST">Отправка формы</button>
    <button type="button" class="btn cancel" onclick="closeEdit()">
      Закрыть
    </button>
  </form>
</div>
