<div class="form-popup" id="myForm">
  <div id="v">
    <form method="POST" class="form-container" action="Poster/">
      <label for="nameQu"><b>Задача</b></label>
      <input type="text" placeholder="Текущая задача" name="nameQu" />

      <label for="comments"><b>Коментарий</b></label>
      <input type="text" placeholder="Коментарий" name="comments" />

      <label for="exp"><b>Опыт</b></label>
      <input type="text" placeholder="Опыт" name="exp" />

      <button type="submit" class="btn" value="POST">Отправка формы</button>
      <button type="button" class="btn cancel" onclick="closeForm()">
        Закрыть
      </button>
    </form>
  </div>
</div>
