{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Track</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/class.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/id.css'%}" />
    <script src="{%static 'js/main.js'%}"></script>
  </head>
  <body>
    <div id="a">
      <div class="b">
      
        <select name="items" id="nav" autocomplete="off"  onchange="showBlock(this.value)">
          <option value="1" selected="selected" >Не выполненые задачи</option>
          <option value="2" >Выполненые задачи</option>
          <option value="3" >Финансы</option>
          <option value="4" >Инвестиции</option>
          </select>
          <div id='list'>
            <div id="id4">{% include "./InvestCard.html" %}</div>
            <div id="id3">{% include "./FinansWigt.html" %}</div>
            <div id="id2">{% include "./questCardTrue.html" %}</div>
            <div id="id1">{% include "./questCardFalse.html" %}</div>
          </div>
          
      </div>
      <div class="b">
        {% include "./person.html" %} 
        <div id="vid">
          <button type="button" onclick="openForm()">Добавить задачу</button>
          <button type="button" onclick="openAddF()">Добавить операцию</button>
          <p>button</p>
          <p>button</p>
          <p>button</p>
          <p>button</p>
          <p>button</p>
          <p>button</p>
        </div>
      </div>
    </div>
    {% include "./formAddQuest.html" %}
    {% include "./formEdit.html" %} 
    {% include "./AddFinance.html" %}
    {% include "./AddCat.html" %}
  </body>
</html>
