{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Track</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/class.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/id.css'%}" />
    <script src="{%static 'js/main.js'%}"></script>
  </head>
  <body>
    <div id="a">
      <div class="b">
        <div id="nav">NAVIGATION</div>
        <div id="inf">{% include "./questCard.html" %}</div>
      </div>

      <div class="b">
        {% include "./person.html" %} 
        <div id="vid">
          <button type="button" onclick="openForm()">Добавить задачу</button>
          <p>button</p>
          <p>button</p>
          <p>button</p>
          <p>button</p>
          <p>button</p>
          <p>button</p>
        </div>
      </div>
    </div>
    {% include "./formAddQuest.html" %} {% include "./formEdit.html" %}
  </body>
</html>
