{% for quest in data.quests %}
{% if not quest.done %}
<div id="info">
  <div id="infostate">
    <div class="infotext" id="infomain">
      <span>{{ quest.nameQu }}</span><span>{{ quest.comments }}</span>
      {% if quest.done %}<span>Выполнено</span>{% else %}Не выполнено{% endif %}
    </div>
    <div id="inforb">
      <div class="infotext">Награда: {{ quest.exp }} XP</div>
      <div class="infotext">
        <div id="infob">
          <a href="done/{{ quest.id }}/{{quest.exp}}"
            ><button class="infobtn">Выполнено</button></a
          >
          <a href="deleters/{{ quest.id }}"
            ><button class="infobtn">Удалить</button></a
          >
          <button
            class="infobtn"
            type="button"
            onclick="openEdit({{ quest.id }})"
          >
            Изменить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}

