#a {
   display: flex;
   justify-content: center;
   text-align: center;
   position: absolute;
   left: 100px;
   top: 0;
}

#nav {
   background-color: blueviolet;
   width: 1000px;
   font-size: 32px;
   margin: 16px;
   margin-bottom: 32px;
   padding: 16px;
}

#inf {
   background-color: gray;
   font-size: 32px;
   margin: 16px;
   padding: 16px;
}

#per {
   background-color: brown;
   margin: 16px;
   margin-bottom: 32px;
}

#vid {
   background-color: cornflowerblue;
   margin: 16px;
   padding: 16px;
}

#perpic {
   width: 200px;
   height: 200px;
   padding: 16px;
}

#perbar {
   padding: 16px;
}

#info {
   display: flex;
   justify-content: center;
   margin-bottom: 10px;




}

#inforb {
   flex-direction: column;
}

#infomain {}

#infostate {
   border: 2px solid black;
   border-radius: 3px;
   display: flex;
   width: 750px;
   justify-content: space-between;
}

#infob {
   display: flex;
   flex-wrap: nowrap;
}

#penis {
   display: none;
}

#id1 {
   display: block;
}

#id2 {
   display: none;
}

#id3 {
   display: none;
}

#id4 {
   display: none;
}


/* .allid{
    display: none;
} */
#list {
   display: block;
}